@model IEnumerable<MVC_Task.DB.Models.Trainee>

@{
    ViewData["Title"] = "Courses";
}

<h2>Trainees</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Create New Course</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Grade</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainee in Model)
        {
            <tr>
                <td>@trainee.Name</td>
                <td>
                    <img src="~/images/@(trainee.Image ?? "default.jpg")" alt="Trainee Image" style="width: 100px; height: 100px;" />
                </td>
                <td>
                    @(trainee.Grade.HasValue? trainee.Grade.Value.ToString("F2") : "N/A" )
                </td>
                <td>@(trainee.Department?.Name ?? "N/A")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@trainee.Id" asp-controller="Trainee" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@trainee.Id" asp-controller="Trainee" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@trainee.Id" asp-controller="Trainee" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
